@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
    var first = Model.First();
    //Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>The latest reviews</h2>

@first.Name

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <text>Review</text>
    @:Review
    <div class="review">
        <h4>@item.Name</h4>
        <span>Rating: @item.Rating</span>
        <p>
            @item.Body
        </p>
    </div>
}
@section footer{
<p>footer</p>
}
@*<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Body
        </th>
        <th>
            Rating
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
             @item.Name
        </td>
        <td>
            @item.Body
            @Html.Raw(item.Body)
        </td>
        <td>
            @item.Rating /10
            @(item.Rating /10.0)
            k@(item.Rating /10.0)
            @@OdeToFood
        </td>
        <td>
            @String.Format("{0:g}", item.Created)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
