@model OdeToFood.Models.Review
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<div id="latestReview">
    @Ajax.ActionLink("Click here to see the latest review", 
                 "LatestReview",
                     new AjaxOptions { 
                         UpdateTargetId = "latestReview", 
                         InsertionMode = InsertionMode.Replace, 
                         HttpMethod = "GET",LoadingElementId="progress"
                     })
</div>
<br />

@using (Ajax.BeginForm ("Search", "Home",
                     new AjaxOptions {
                         UpdateTargetId = "searchResults", 
                         InsertionMode = InsertionMode.Replace,
                         HttpMethod = "GET",
                         LoadingElementId = "progress"
                     }))
{
    <input type="text" name="q"/>
    <input type="submit" value="search" />
}
<br />

<table id="searchResults">

</table>

<div id="progress">
  <img src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="loader">
</div>
@*<div>
    Restaurant: @Model.Restaurant.Name
    Rating: @Model.Rating
</div>*@