@model OdeToFood.Models.Review
           
<div class="review">
    <h4>@Model.Restaurant.Name</h4>
    @*<img src="@Model.ImageUrl" alt="@Model.Name"/>*@
    @*@Html.Image(Model.ImageUrl, Model.Name)*@
    <span>Rating: @Model.Rating</span>
    <p>
        @Model.Body
        <span class="right">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        </span>
    </p>s
</div>
